div{
    background-color: #3E8E7E;
}
.c1{
    color: white;
    text-align: center;
}
#b1{
    text-align: center;
}
#b2{
    background-color: #7CD1B8;

}
.c2{
    background-color: #FABB51;
    /* text-align: center; */
}
.c3{
    background-color: #FAEDC6;
}
.c4{
    background-color: #FABB51;
}
.c5{
    background-color: white;
    
}
